= form_for @user, html: {class: "ui form #{'error' if @user.errors.any?}"} do |form| 
  %h3.ui.dividing.header Sign Up Information
  = render '/common/errors', object: @user
  %label Name
  .two.fields
    .field
      = form.text_field :firstname, placeholder: 'First Name'
    .field
      = form.text_field :lastname, placeholder: 'Last Name'
  .two.fields
    .field
      %label Email
      = form.email_field :email, placeholder: 'joe@blogs.com'
    .field
      %label Password
      = form.password_field :password
  = form.submit 'Sign Up', class: 'ui submit button'
