= form_for @user, html: {class: "ui form  #{'error' if @user.errors.any?}"} do |f| 
  %h3.ui.dividing.header Sign Up Information
  %label Name
  .two.fields
    .field
      = f.text_field :firstname, placeholder: 'First Name', required: true
    .field
      = f.text_field :lastname, placeholder: 'Last Name', required: true
  .two.fields
    .field
      %label Email
      = f.email_field :email, placeholder: 'joe@blogs.com', required: true
    .field
      %label Password
      = f.password_field :password, required: true, pattern: '.{6,}', title: 'Password must be 6 characters long'
  = render '/common/errors', object: @user
  = f.submit 'Sign Up', class: 'ui submit button primary'
  %p= link_to 'Already a member?', sign_in_path
