.ui.grid.page
  .column
    %h1= @user.fullname
    %nav.ui.breadcrumb
      = link_to 'Players', users_path, class: 'section'
      %i.right.chevron.icon.divider
      .active.section= @user.fullname
    %hr
    .ui.grid
      .eight.wide.column
        %h2 Stats
        %hr
        = render 'player_stats', player: @user
      .eight.wide.column
        %h2 Matches
        %hr
        = render 'player_matches', player: @user


    
