.ui.page.grid
  .column
    %h1.ui.header
      = @tournament.name
      .sub.header= @tournament.tournament_type.capitalize
    %nav.ui.breadcrumb
      = link_to 'Tournaments', tournaments_path, class: 'section'
      %i.right.chevron.icon.divider
      .active.section= @tournament.name
    = render "/common/#{@tournament.tournament_type}/tournament_show", tournament: @tournament
