.ui.page.grid
  .column
    %h1.ui.header 
      #{@match.match_type.capitalize} Match #{@match.id}
      .sub.header= link_to @match.tournament.name, tournament_path(@match.tournament)
    %hr
    .ui.grid
      .column.eight.wide
        %h2 Score
        %table.ui.definition.celled.table
          %tbody
            - score = @match.score
            %tr
              %td= @match.winner.firstname
              %td= score.games_in_set(1, @match.winner)
              %td= score.games_in_set(2, @match.winner)
              %td= score.games_in_set(3, @match.winner)
              %td= score.games_in_set(4, @match.winner)
              %td= score.games_in_set(5, @match.winner)
              %td= score.games_in_set(6, @match.winner)
            %tr
              %td= @match.loser.firstname
              %td= score.games_in_set(1, @match.loser)
              %td= score.games_in_set(2, @match.loser)
              %td= score.games_in_set(3, @match.loser)
              %td= score.games_in_set(4, @match.loser)
              %td= score.games_in_set(5, @match.loser)
              %td= score.games_in_set(6, @match.loser)
      .column.eight.wide
        %h2 Players
        .ui.grid
          .column.eight.wide
            = render 'player_card', player: @match.winner, match: @match
          .column.eight.wide
            = render 'player_card', player: @match.loser, match: @match



